<div class="page-container bg-overlay">
	<mat-card>
		<div fxLayout="row">
			<div fxFlex="1 1 auto">
				<form [formGroup]="recipeForm">
					<section class="mat-typography">
						<h1>Recipe Title</h1>
					</section>
					<mat-form-field appearance="outline">
						<mat-label>Title</mat-label>
						<input matInput type="text" formControlName="title">
						<mat-error class="text-bold">*Required</mat-error>
					</mat-form-field>
					<section class="mat-typography">
						<h1>Ingredients</h1>
					</section>
					<div formArrayName="ingredients" fxLayout="column">
						<div *ngFor="let ing of FormToArray(); let i = index" fxLayout="row"
							 fxLayoutAlign="start center"
							 [formGroupName]="i">
							<mat-form-field appearance="outline" class="mr-8">
								<mat-label>Ingredient</mat-label>
								<input matInput type="text" formControlName="name">
								<mat-error class="text-bold">*Required</mat-error>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-100 mr-8">
								<mat-label>Amount</mat-label>
								<input matInput type="number" step="1" formControlName="amount">
								<mat-error class="text-bold">*Required</mat-error>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-100">
								<mat-label>Unit</mat-label>
								<mat-select formControlName="unit">
									<mat-option *ngFor="let unit of units" [value]="unit">
										{{unit}}
									</mat-option>
								</mat-select>
								<mat-error class="text-bold">*Required</mat-error>
							</mat-form-field>

							<div class="form-field-bottom-padding px-8">
								<button mat-raised-button mat-icon-button (click)="removeIngredientRow($event, i)">
									<mat-icon>remove</mat-icon>
								</button>
							</div>

							<div class="form-field-bottom-padding"
								 *ngIf="i === recipeForm.get('ingredients')['length'] - 1">
								<button mat-raised-button mat-icon-button (click)="addIngredientRow()">
									<mat-icon>add</mat-icon>
								</button>

							</div>
						</div>
					</div>

					<section class="mat-typography">
						<h1>Instructions</h1>
					</section>

					<div>
						<mat-form-field appearance="outline" class="w-80-p">
							<mat-label>Instructions</mat-label>
							<textarea matInput formControlName="instructions" class="overflow-hidden"
									  cdkTextareaAutosize
									  #autosize="cdkTextareaAutosize"
									  cdkAutosizeMinRows="5"></textarea>
							<mat-error class="text-bold">*Required</mat-error>
						</mat-form-field>
					</div>

					<div fxLayout="row" fxLayoutAlign="start center">
						<mat-form-field appearance="outline" class="w-100">
							<mat-label>Overall-Time</mat-label>
							<input matInput type="number" formControlName="overall_time">
						</mat-form-field>

						<div class="form-field-bottom-padding ml-8">
							Minutes
						</div>
					</div>

					<mat-form-field class="w-20-p">
						<mat-chip-list #chipList>
							<mat-chip
									color="primary"
									*ngFor="let chip of tags"
									[selectable]="true"
									[removable]="true"
									(removed)="remove(chip)">
								{{chip}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
							<input
									placeholder="Tags"
									#chipInput
									formControlName="tags"
									[matAutocomplete]="auto"
									[matChipInputFor]="chipList"
									[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
									[matChipInputAddOnBlur]="true"
									(matChipInputTokenEnd)="add($event)">
						</mat-chip-list>
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
							<mat-option *ngFor="let chip of filteredTags" [value]="chip">
								{{chip}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</form>
			</div>

			<div class="w-250">
				<img width="200" height="200" id="add-image" class="add-image mr-48"
					 src="../../../assets/images/forms/add-image.png" alt="add-image" (click)="onImageUpload()">
				<input type="file" id="image-upload" class="display-none" (change)="onGotImage($event)">
			</div>
		</div>

		<div fxLayout="row" fxLayoutAlign="end center">
			<button mat-raised-button color="primary" (click)="onSave()">Save</button>
		</div>
	</mat-card>
</div>
