<mat-card>
	<div fxLayout="row">
		<div class="w-60-p">
			<div class="font-size-32 font-weight-300">
				{{recipe.title}}
			</div>

			<div class="mt-36">
				<div *ngFor="let ingredient of recipe.ingredients">
					{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}
				</div>
			</div>

			<div class="mt-24 font-weight-300 w-80-p">
				{{recipe.instructions}}
			</div>

			<div fxLayout="row" fxLayoutAlign="space-between center">
				<div fxLayout="row" fxLayoutAlign="start center">
					<img src="../../../assets/images/feed/clock.svg" width="32" height="32" alt="clock">
					<div class="ml-8">
						{{recipe.overall_time}}
					</div>
				</div>

				<div fxLayout="row" fxLayoutAlign="end center">
					<ng-container *ngIf="recipe.tags">
						<div *ngFor="let tag of recipe.tags">
							<ng-container [ngSwitch]="tag">
								<img *ngSwitchCase="tags.VEGAN" width="40" height="40"
									 src="../../../assets/images/feed/tags/vegan.svg" alt="vegan" matTooltip="Vegan">
								<img *ngSwitchCase="tags.KOSHER" width="40" height="40"
									 src="../../../assets/images/feed/tags/kosher.svg" alt="kosher" matTooltip="Kosher">
								<img *ngSwitchCase="tags.NON_DAIRY" width="40" height="40"
									 src="../../../assets/images/feed/tags/no-dairy.svg" alt="no-dairy"
									 matTooltip="Non Dairy">
							</ng-container>
						</div>
					</ng-container>
				</div>
			</div>
		</div>


		<div class="w-40-p">
			<div fxLayout="row" fxLayoutAlign="center start" class="pt-20">
				<img width="300" [src]="recipe.image" alt="">
			</div>
		</div>
	</div>
</mat-card>
