.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {/*padding: 0.5rem 2.5rem;*/
  padding-right:50px;padding-left:70px;padding-top:15px;/*!important;*/

}

/*<img src="../../../assets/images/brightAdd.svg"
														  alt="logo" width="40" height="40">*/
div.add-icon-img {
  width: 40px;
  height: 40px;
  background-image: url("../../../assets/images/brightAdd.svg");

  &:hover {
    background-image: url("../../../assets/images/greenAdd.svg");
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
